body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 48px;
}

/* navbar */
.navbar {
    z-index: 999;
}

.navbar .nav-item .nav-link,
.btn {
    font-weight: 500;
}

/* header banner */
.header_banner {
    padding-top: 69px;
    padding-bottom: 96px;
}

.banner_text {
    padding: 0 8px;
}

.banner_text p {
    font-size: 14px;
    font-weight: 300;
    padding-right: 120px;
}

.banner_text h1 {
    margin-bottom: 18px;
}

.banner_text .btn {
    margin-top: 5px;
}

/* fetured_sec */
.fetured_head hr {
    width: 58px;
    color: red;
    height: 1px;
}

.fetured_bikes .col-lg-4 {
    width: 28%;
}

.happy_client .card {
    padding: 40px 35px;
}

.happy_client .card img {
    width: 149px;
    height: 149px;
    margin-bottom: 30px;
}

.ratting_icon {
    margin-bottom: 15px;
}

.ratting_icon a i {
    color: #E76F51;
    padding: 2.5px;
    font-size: 18px;
}

.card-body h5 {
    margin-top: 15px;
}

.card-text {
    color: #6C6C6C;
}

.accordion-button {
    font-weight: 500;
    font-size: 20px;
}